.bannerDisplay {
  height: 223px;
  margin-bottom: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  margin-bottom: 40px;
}

.section {
  max-width: 1023px;
  width: 100%;
  font-size: 1.5rem;
}

.collapsibleTitle {
  height: 47px;
}

.collapsibleContent {
  box-sizing: border-box;
  max-height: 0px;
  transition: height 2000ms;
}

.collapsibleContent.visible {
  max-height: 100%;
  font-size: 1.5rem;
  padding: 35px 15px 10px 20px;
}

@media (max-width: 767px) {
  .main {
    row-gap: 20px;
    margin-bottom: 20px;
  }
  .collapsibleTitle {
    font-size: 0.8125rem;
    height: 30px;
  }
  .collapsibleContent.visible {
    font-size: 0.75rem;
    padding: 20px 5px 60px 10px;
  }
}
