.collapsible {
  display: flex;
  flex-direction: column;
}

.title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  color: white;
  padding-right: 30px;
  padding-left: 20px;
  border-radius: 5px;
  z-index: 2;
  cursor: pointer;
}

.content {
  overflow: hidden;
  font-weight: 400;
  color: #ff6060;
  background-color: #f7f7f7;
  border-radius: 5px;
  transform: translateY(-5px);
}

.arrowUp {
  transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
  .title {
    padding-right: 7px;
    padding-left: 13px;
    border-radius: 5px;
  }
}
