.collapsible {
  display: flex;
  flex-direction: column;
}

.title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  color: white;
  padding-right: 30px;
  padding-left: 20px;
  border-radius: 5px;
  z-index: 2;
  cursor: pointer;
}

.content {
  display: none;
  box-sizing: border-box;
  overflow: hidden;
  font-weight: 400;
  color: #ff6060;
  background-color: #f7f7f7;
  border-radius: 5px;
  transform: translateY(-5px);
}

.content.visible {
  display: block;
  padding-top: 35px;
  padding-right: 25px;
  padding-left: 20px;
}

.arrowUp {
  transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
  .content.visible {
    font-size: 0.75rem;
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 10px;
  }
}
