.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  padding-top: 65px;
  padding-bottom: 30px;
  background-color: #000;
}

.logo {
  display: flex;
  column-gap: 10px;
  align-items: end;
}

.logoLetter {
  fill: #ffff;
}

.logoLetterK {
  width: 31.5px;
  height: 36px;
}
.logoLetterHome {
  width: 27px;
  height: 31px;
  transform: translateY(4px);
}
.logoLetterS {
  width: 23px;
  height: 28px;
}
.logoLetterA {
  width: 24px;
  height: 28px;
}

.copyrights {
  font-size: 1.5rem;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .display {
    row-gap: 35px;
    padding-bottom: 60px;
  }

  .copyrights {
    font-size: 0.75rem;
  }
}
