html {
  font-size: 100%;
  font-weight: 500;
}

body {
  margin-left: 7%;
  margin-right: 7%;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #000;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
div,
p,
figure,
section {
  margin: 0;
}

@media screen and (max-width: 768px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
}
